<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            About me goes here.
        </p>
        <p>
          Things I love working on goes here.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Highlights of my current whereabout goes here.
    			</li>
          <li>
            Highlights about my achievement goes here.
          <li>
            Highlights about my achievement goes here.
    			</li>
    			<li>
            Highlights about my achievement goes here.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
