<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
          A programmer, electronic hobbyist by passion an embedded software engineer by profession. If am not on my desk dabbling with my Raspberry-pi, or arduino then definitely I am working on-site with a client.
        </p>
        <p>
            I do blog and give back to my community from time to time at <a href="https://nabstar.github.io"> this link </a> where i occasionally write about  
            <ul>
              <li>Embedded system</li>
              <li>C programming</li>
              <li>Raspberry-pi</li>
              <li>Arduino</li>
              <li>IoT</li>
              <li>Lastly how they all fit together</li>
            </ul>
        </p>

        <p>
            I'm having experience of 5+ year on web development, backend technology to be precise.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Attended a docker conference meetup.
    			</li>
          <li>
            IoT industrial training.
          <li>
            ...
    			</li>
    			<li>
            ...
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
