<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <p class="title"> Tinkering with Electronics </p>
         <p>
            Ever since i grew up as a child i was facinated with electronics "My God how on earth is such a device possible speak through a device all of the sudden it does what you want" I said to myself that's power
         </p>
			  </li>
			  <li>
				  <p class="title"> Raspberry pi </p>
          <p>
            I've been an enthusiastic tinkerer I was a teenager - but only as an adult am I able to afford the higher-quality
            devices. I like to modify existing kits to improve speed, and add instrumentation.
          </p>
			  </li>
			  <li>
				  <p class="title"> Software </p>
          <p>
            If I could remember correctly, the first line of code I wrote was in Basic
          </p>
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Smart Trash-Can.
    		</li>
  			<li>
          Realtime gaming wheel-control using Raspberry-Pi.
  			</li>
  		</ul>

      <h3>Other Things</h3>

      <ul>
  			<li>
          Showing up at Conferences, Meetups to gain more knowledge about other field.
  			</li>
  			<li>
  			  A dieheart football player at my leasure.
  			</li>
		  </ul>
    </div>
    </div>
  </div>
</section>
